# === Node dependencies ===
node_modules/

# === Build output ===
build/

# === Environment variables ===
.env
.env.*.local

# === Logs ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# === Coverage reports ===
coverage/

# === OS-specific files ===
.DS_Store
Thumbs.db

# === IDE/editor-specific files ===
.vscode/
.idea/
*.suo
*.njsproj
*.sln

# === Testing/Cache ===
.cache/
.cypress/

# === Misc Archives ===
*.zip
*.gz
*.tgz
*.tar
