@import "tailwindcss"; 

/* *{
  margin : 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
} */

.message-box{
  scroll-behavior: smooth;
}
.message-box::-webkit-scrollbar{
  display: none;
}